			h1{
				color:#66ffee;
				font-size:1em;
				font-family:'Quicksand',Lato,sans-serif;
				font-weight:400;
				text-align:center;	
				text-transform:uppercase;
				margin: 0 auto 5% auto;
				padding:5vh 0 0 0;
				text-align:left;
				width:85%;
			}

			h2{		
				font-size:1em;
				font-family:'Quicksand',Lato,sans-serif;
				font-weight:300;
				text-align:center;
			}

			h3{
				color:white;
				font-size:1em;
				font-family:'Quicksand',Lato,sans-serif;
				font-weight:300;
				text-align:left;
				width:85%;
				margin:4% auto 0 auto;
				line-height:1.5em;	
			}

			a{
				text-decoration: none;
				color:#66ffee;
			}

			pre{
				color:black;
				line-height:1.5em;
				background-color:white;
				margin:4% auto;
				width:83%;
				border-radius:5px;
				text-align:left;
				padding:1%;
				height:auto;
				overflow-x:scroll;
			}

			code{
				color:#66ffee;
				font-size:1.3em;
				letter-spacing: 0.1em	
			}

			code.code_snippet{
				position:relative;
				left:5%;
				color:purple;
				font-size:1em;
			}

			p{
				font-family:'Quicksand',Lato,sans-serif;	
				letter-spacing: 0.07em;
			}

			nav{
				background-color:rgba(0,0,0,1);
				width:100%;
				height:10%;
				box-sizing:border-box;	
			}	

			ul{	
				position:fixed;
				list-style-type:none;
				list-style:none;
				width:100%;
				height:10vh;
				padding:0;
				margin: 0 0 0 0;
				text-align:center;
				box-sizing:border-box;
				transition:background 0.8s ease;
				z-index:2;
			}

			ul.color_nav{
				background:#66a1a3;
			}

			.noSelect{
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select:none;
				-moz-user-select:none;
				-ms-user-select:none;
				user-select:none;
			}

			li{
				position:relative;
				top:27%;
				font-size:0.9em;
				font-family:'Quicksand',Lato,sans-serif;
				font-weight:400;
				margin:3% 4.7%;
				letter-spacing: 0.1em;
				color:white;
				height:10%;
				display:inline;
			}

			li:hover{
				-moz-animation: color 2s infinite;
				-webkit-animation:color 2s infinite;
				-o-animation: color 2s infinite;
				animation: color 2s infinite;
			}

			@-moz-keyframes color{
				0%{ color:#ffffff; }
				25%{ color:turquoise; }
				50%{color:#ff66cc;}
				75%{color:#ffce80;}
				100%{color: #ffffff;}
			}

			@-webkit-keyframes color{
				0%{ color:#ffffff; }
				25%{ color:turquoise; }
				50%{color:#ff66cc;}
				75%{color:#ffce80;}
				100%{color: #ffffff;}
			}

			@-o-keyframes color{
				0%{ color:#ffffff; }
				25%{ color:turquoise; }
				50%{color:#ff66cc;}
				75%{color:#ffce80;}
				100%{color: #ffffff;}
			}

			@keyframes color{
				0%{ color:#ffffff; }
				25%{ color:turquoise; }
				50%{color:#ff66cc;}
				75%{color:#ffce80;}
				100%{color: #ffffff;}
			}
			
			.grid_1{
				width:100%;
				height:75%;
				box-sizing:border-box;
				text-align:center;	
			}

			.grid_2{
				width:100%;
				height:9vh;
				box-sizing:border-box;		
			}
			
			#page_1{
				position:relative;
				background: #66ffee;
				background: -moz-linear-gradient(top left,#66ffee,#660022);
				background: -webkit-linear-gradient(top left,#66ffee,#660022);
				background: -o-linear-gradient(top left,#66ffee,#660022);
				background: linear-gradient(top left,#66ffee,#660022);
			}

			#page_2{	
				overflow:visible;
				background: black;	
			}

			#page_3{
				background: black;
			}

			.red_lolli{
				position:absolute;
				left:-20%;
				top:20%;
				margin:0 0 0 0;
				height:90%;	
				z-index:1;	
			}


			.logo{
				margin-top: 18vh;
				width:90%;
				height:40%;
				z-index:2;
			}

			.intro{
				display:inline-block;
				margin-top:13vh;
				font-size:0.85em;
				font-weight:700;
				width:85%;
				white-space:pre-wrap;
			}

			.intro p{
				display:inline-block;
				padding: 0 1% 0 2%;
				margin:1% 0 0 0;
			}

			.front_pg_btn{
				font-weight:300;
				font-size:0.83em;
				border:1px solid;
				border-color:rgba(255, 255, 255, 0.5);
				color:white;
				background: rgb(54, 25, 25); 
				background: rgba(54, 25, 25, .3);
				border-radius:10px;
				letter-spacing: 0;
				padding:1%;
				margin:2vh auto;
				width:78.5%;
				cursor:pointer;
				transition: background 0.3s ease;
			}

			.front_pg_btn:hover{
				color:white;
				background:rgba(54, 25, 25, 0);
			}

			.front_pg_btn > a {
			    color: white;
			}

			.compat{
				width:300px;
			}

			.horiz_2{
				margin:20% auto;
				font-family:'Quicksand',Lato,sans-serif;
				font-weight:400;
				line-height: 2em;
				font-size:2em;
				color:#66ffee;
				width:250px;
				white-space:pre-wrap;
			}

			.github_banner{
				display:none;
			}

			/*Media Queries*/
			@media(min-width:600px){
				.grid_1{
					width:550px;
					margin:0 auto;
				}
			}

			@media(min-width:700px){
				.compat{
					width:500px;
				}
				.github_banner{
					display:block;
				}
			}